Repository andres123dbh/movil_parcial_backend, pull requests merged in 2023-03, with the labels that each got.

#8 Function Login
  src/controllers/session.go
  src/interfaces/interfaces.go
  src/routes/router.go
Labels: users

#9 Generate and Validate Jwt
  src/controllers/session.go
  src/controllers/test.go
  src/go.mod
  src/go.sum
  src/middlewares/middleware.go
  src/routes/router.go
  src/utils/token.go
Labels: users

#10 Get all products
  src/controllers/products.go
  src/interfaces/interfaces.go
  src/routes/router.go
Labels: products

#11 Feat/add deleted get favs
  .gitignore
  src/controllers/favorites.go
  src/interfaces/interfaces.go
  src/routes/router.go
  utils/data/products.json
Labels: users, products
